*{
    margin: 0;
    padding: 0;
    font-family: Poppins,sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #B3CDD1;
    word-break: break-all;
}

h1{
    text-align: center;
    margin: 4rem;
    font-size: 5rem;
}
input{
    display: block;
    width: 20rem;
    height: 4rem;
    border: none;
    padding: 0 10px;
    
}
input::placeholder{
    color:#b5b5b5;
    font-size: 1.5rem;
}
#reminer{
    text-align: center;
    width: 15rem;
    margin: .3rem auto;
    background-color: #f7b731;
    list-style: none;
}
button{
    display: block;
    border: none;
    width: 3.5rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    

}

#addContainer{
    display: flex;
    justify-content: center;
    
}
#todolistContainer{
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
}
#li{
    cursor : pointer;
    width : 23.5rem;
    word-break : break-all;
    text-align : center;
    background-color : white;
    font-size : 1.5rem;
    margin : .6rem auto;
    padding : 1rem;
    list-style: none;
}

@media screen and (max-width:650px){
    h1{
        font-size: 2rem;
        margin: 3rem auto;
        font-weight: bolder;
    }
    input::placeholder{
        color:#b5b5b5;
        font-size: 1.2rem;
    }
    #btn{
        width: 4rem;
    }
    #li{
        cursor : pointer;
        word-break : break-all;
        text-align : center;
        background-color : white;
        font-size : 1.5rem;
        margin : .6rem auto;
        padding : 1rem;
        list-style: none;
    }
}